body {
  background-color: #00BDFF;
}

h1 {
  color: #FFFFFF;
  margin-left: 20px;
}
table {
  border: 4px #0066FF;
}

p {
  color: #FFFFFF;
}

#Div {
  border: 5px orange;
  margin-right: 350px;
}

#Hockey {
  width: 100px;
  float: right;
}
#URILogo {
  width 100px;
  float: left;
}
